# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related (Frontend)
Frontend/**/doc/api/
Frontend/**/ios/Flutter/.last_build_id
Frontend/.dart_tool/
Frontend/.flutter-plugins-dependencies
Frontend/.pub-cache/
Frontend/.pub/
Frontend/build/
Frontend/coverage/
Frontend/.vscode/

# Symbolication related (Frontend)
Frontend/app.*.symbols

# Obfuscation related (Frontend)
Frontend/app.*.map.json

# Android Studio will place build artifacts here (Frontend)
Frontend/android/app/debug
Frontend/android/app/profile
Frontend/android/app/release

# Python related (Backend)
Backend/__pycache__/
Backend/*.py[cod]
Backend/*$py.class
Backend/*.so
Backend/.Python
Backend/build/
Backend/develop-eggs/
Backend/dist/
Backend/downloads/
Backend/eggs/
Backend/.eggs/
Backend/lib/
Backend/lib64/
Backend/parts/
Backend/sdist/
Backend/var/
Backend/wheels/
Backend/share/python-wheels/
Backend/*.egg-info/
Backend/.installed.cfg
Backend/*.egg
Backend/MANIFEST

# Virtual environments
Backend/.venv/
Backend/venv/
Backend/ENV/
Backend/env/

# PyCharm
Backend/.idea/

# Environment variables
.env
.env.local
.env.*.local

